* {
    box-sizing: border-box;
}

body {
    font-family: Inter,sans-serif;
}

.wrapper {
    display: grid;
    min-height: 100vh;
    grid-template: minmax(100px, auto) 1fr minmax(140px, auto) / 1fr;
    grid-template-areas:
		"header"
		"main"
		"footer";
}

.button {
    height: 50px;
    background: #FFC40B;
    border: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #151515;
}

.button:active{
    transform: translateY(5px);
}
